/**
 *
 * LESS
 *
 * project	Plugin Manager
 * version: 5.0.0
 * Author: Sujin 수진 Choi
 * Author URI: http://www.sujinc.com/
 *
*/
table.plugins td.column-description .groups {
  margin-bottom: 10px;
}
table.plugins td.column-description .groups a {
  display: inline-block;
  background-color: #EEEEEE;
  padding: 3px 5px;
  border-radius: 2px;
  margin-right: 2px;
}
table.plugins .plugin_grouper_wrap td {
  padding: 0 0 25px 47px;
  box-shadow: inset #EEEEEE 0 0 20px !important;
}
table.plugins .plugin_grouper_wrap td .sp-replacer {
  padding: 0;
  border: 0;
  background-color: transparent;
  margin-left: 5px;
}
table.plugins .plugin_grouper_wrap td .sp-replacer .sp-preview {
  width: 15px;
  height: 15px;
  border: #FFFFFF;
}
table.plugins .plugin_grouper_wrap td .sp-replacer .sp-dd {
  display: none;
}
table.plugins tr.inactive th.check-column .dashicons-lock,
table.plugins tr.active th.check-column .dashicons-lock {
  display: none;
}
table.plugins tr.inactive th.check-column input,
table.plugins tr.active th.check-column input {
  display: none;
}
table.plugins tr.inactive .row-actions > span,
table.plugins tr.active .row-actions > span {
  display: none;
}
table.plugins tr.inactive.locked th.check-column,
table.plugins tr.active.locked th.check-column {
  text-align: center;
}
table.plugins tr.inactive.locked th.check-column .dashicons-lock,
table.plugins tr.active.locked th.check-column .dashicons-lock {
  display: inline-block;
}
table.plugins tr.inactive.locked th.check-column input,
table.plugins tr.active.locked th.check-column input {
  display: none;
}
table.plugins tr.inactive.locked .row-actions > span.lock,
table.plugins tr.active.locked .row-actions > span.lock {
  display: inline-block;
}
table.plugins tr.inactive.locked .row-actions > span.lock .button-lock,
table.plugins tr.active.locked .row-actions > span.lock .button-lock {
  display: none;
}
table.plugins tr.inactive.unlocked th.check-column input,
table.plugins tr.active.unlocked th.check-column input {
  display: block;
}
table.plugins tr.inactive.unlocked .row-actions > span,
table.plugins tr.active.unlocked .row-actions > span {
  display: inline-block;
}
table.plugins tr.inactive.unlocked .row-actions > span.lock .button-unlock,
table.plugins tr.active.unlocked .row-actions > span.lock .button-unlock {
  display: none;
}
table.plugins tr.inactive.show .row-actions > span.hide .button-show,
table.plugins tr.active.show .row-actions > span.hide .button-show {
  display: none;
}
table.plugins tr.inactive.hide .row-actions > span.hide .button-hide,
table.plugins tr.active.hide .row-actions > span.hide .button-hide {
  display: none;
}
table.plugins tr.hide {
  display: none;
}
table.plugins.mode-show-hidden tr.hide {
  display: table-row;
}
