/**
 * LESS Bootstrap File
 *
 * @package     WordPress
 * @subpackage  Plugin Manager PRO
 * @since       0.0.1
 * @author      Sujin 수진 Choi http://www.sujinc.com/
*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * List
 *
 * @package     WordPress
 * @subpackage  Plugin Manager PRO
 * @since       0.0.1
 * @author      Sujin 수진 Choi http://www.sujinc.com/
*/
.subsubsub li.group {
  border-radius: 2px;
  margin: 5px 10px 5px 0;
  padding: 0 2px 0 8px;
  border-bottom-right-radius: 13px;
}
.subsubsub li.group a {
  color: inherit;
}
.subsubsub li.group a .count {
  display: inline-block;
  padding: 0 3px;
  border-radius: 100px;
  line-height: 17px;
  margin-left: 3px;
  min-width: 11px;
  font-size: 11px;
  text-align: center;
}
.show-hidden tr.hidden {
  display: table-row !important;
}
tr.hidden {
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  -webkit-opacity: 0.4;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  filter: alpha(opacity=40);
}
.wrap h1 {
  float: left;
  padding-right: 7px;
}
.wrap h1 span {
  display: none;
}
.wrap .gmr-options-button {
  background-color: #FFF;
  display: block;
  border-radius: 4px;
  float: left;
  margin-top: 9px;
  padding: 4px;
  text-decoration: none;
  margin-right: 10px;
}
.wrap .gmr-options-button .count {
  display: inline-block;
  padding: 0 3px;
  border-radius: 100px;
  line-height: 17px;
  margin-left: 3px;
  min-width: 11px;
  font-size: 11px;
  text-align: center;
  background-color: #0073aa;
  color: white;
}
.wrap #gmr-group-description {
  color: #777;
  padding: 6px 0 7px;
}
/**
 * Modal
 *
 * @package     WordPress
 * @subpackage  Plugin Manager PRO
 * @since       0.0.1
 * @author      Sujin 수진 Choi http://www.sujinc.com/
*/
#grouping-modal {
  /*
	#modal-backgroud {
		background: #FFF;
		height: 100%;
		left: 0;
		.opacity(0.8);
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9999999;
	}
*/
}
#grouping-modal #content-wrapper {
  background: #eee;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 255px;
  z-index: 10000001;
  -webkit-box-shadow: 3px 4px 11px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 4px 11px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 4px 11px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  #grouping-modal #content-wrapper {
    width: 100%;
  }
}
#grouping-modal #content-wrapper .button {
  background-color: white;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
  font-weight: 500;
  text-shadow: none;
}
#grouping-modal #content-wrapper .button-primary {
  background-color: #620056;
}
#grouping-modal #content-wrapper #content-container {
  /*



			#grouping-modal-error {
				background-color: #A60000;
				border-radius:5px;
				color: white;
				margin-top:14px;
				padding:7px 10px;

				p {
					margin: 0;
				}
			}
*/
}
#grouping-modal #content-wrapper #content-container .container.button-container {
  border-bottom: 1px solid #ddd;
  overflow: auto;
}
#grouping-modal #content-wrapper #content-container .container.button-container .close-button {
  border-right: 1px solid #ddd;
  float: left;
  height: 40px;
  text-align: center;
  text-decoration: none;
  width: 40px;
  color: #444;
}
#grouping-modal #content-wrapper #content-container .container.button-container .close-button:before {
  font: 400 22px/45px dashicons;
  content: "\f335";
}
#grouping-modal #content-wrapper #content-container .container.button-container .close-button.modeDelete {
  height: 110px;
}
#grouping-modal #content-wrapper #content-container .container.button-container #buttons {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding: 6px 7px;
}
#grouping-modal #content-wrapper #content-container .container.content {
  box-sizing: border-box;
  height: 100vh;
  margin-top: -41px;
  padding: 10px;
  padding-top: 51px;
}
#grouping-modal #content-wrapper #content-container .container.content #scroll-container {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#grouping-modal #content-wrapper #content-container h3 {
  margin-top: 0;
}
#grouping-modal #content-wrapper #content-container .group-list {
  margin: 0;
  padding: 0;
}
#grouping-modal #content-wrapper #content-container .group-list li {
  font-size: 13.5px;
  margin-bottom: 4px;
  padding: 6px 7px;
}
#grouping-modal #content-wrapper #content-container .group-list li input {
  border: none;
  border-radius: 0;
  height: 13px;
  width: 13px;
  min-width: 13px;
}
#grouping-modal #content-wrapper #content-container .group-list li input.indeterminate:before {
  float: left;
  display: inline-block;
  vertical-align: middle;
  font: 800 17px/1 dashicons;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f460";
  margin: -2px 0 0 -2px;
  color: #1e8cbe;
}
#grouping-modal #content-wrapper #content-container .group-list li.dndPlaceholder {
  background-color: #ddd;
  color: #ddd;
}
#grouping-modal #content-wrapper #content-container .group-list li.dndPlaceholder:after {
  content: ".";
}
#grouping-modal #content-wrapper #content-container .group-list li.dndDraggingSource {
  display: none;
}
#grouping-modal #content-wrapper #content-container #create-form input[type="text"] {
  box-shadow: none;
  padding: 7px;
  width: 100%;
  border: none;
}
#grouping-modal #content-wrapper #content-container #create-form textarea {
  box-shadow: none;
  height: 100px;
  margin-top: 10px;
  padding: 7px;
  border: none;
  width: 100%;
}
#grouping-modal #content-wrapper #content-container #create-form .list-color {
  margin: 9px 0 0;
  overflow: auto;
  width: 100%;
}
#grouping-modal #content-wrapper #content-container #create-form .list-color li {
  float: left;
  margin: 0;
}
#grouping-modal #content-wrapper #content-container #create-form .list-color li a {
  display: block;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  width: 39.1px;
}
#grouping-modal #content-wrapper #content-container #create-form .list-color li a:hover {
  color: inherit;
}
#grouping-modal #content-wrapper #content-container #create-form .list-color li a:active {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
#grouping-modal #content-wrapper #content-container #create-form .list-color li a:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
#grouping-modal #modal-loading-spinner {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 255px;
  z-index: 10000000;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#grouping-modal #modal-loading-spinner img {
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 25px #333333;
  -moz-box-shadow: 0px 0px 25px #333333;
  box-shadow: 0px 0px 25px #333333;
  padding: 15px;
}
#grouping-modal.loading form {
  z-index: 9999999;
}
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}
/**
 * Groups
 *
 * @package     WordPress
 * @subpackage  Plugin Manager PRO
 * @since       0.0.1
 * @author      Sujin 수진 Choi http://www.sujinc.com/
*/
table.plugins td.column-description .groups {
  margin-bottom: 10px;
}
table.plugins td.column-description .groups a {
  display: inline-block;
  background-color: #EEEEEE;
  padding: 3px 5px;
  border-radius: 2px;
  margin-right: 2px;
}
/*
.lock-template() {
  tr.inactive, tr.active {
	  // 일단 대쉬콘, 체크박스, 버튼을 다 없애고
		th.check-column {
			.dashicons-lock {
				display:none;
			}

			input {
				display:none;
			}
		}

		.row-actions > span {
			display:none;
		}

		// 잠김 상태일 때
		&.locked {
			th.check-column {
				text-align: center;

				.dashicons-lock {
					display: inline-block;
				}

				input {
					display:none;
				}
			}

			.row-actions > span.lock {
				display:inline;
			}

			.row-actions > span.lock .button-lock {
				display:none;
			}
		}

		// 안잠김 상태일 때
		&.unlocked {
			th.check-column {
				input {
					display:block;
				}
			}

			.row-actions > span {
				display: inline;

				&.lock .button-unlock {
					display:none;
				}
			}
		}
  }
}

.hide-template() {
  tr.inactive, tr.active {
		// 안숨김 상태일 때
		&.show {
			.row-actions > span.hide .button-show {
				display:none;
			}
		}

		// 안숨김 상태일 때
		&.hide {
			.row-actions > span.hide .button-hide {
				display:none;
			}
		}
	}
}


	// 그룹 창
	.plugin_grouper_wrap {
		td {
			padding: 0 0 25px 47px;
			box-shadow:inset #EEEEEE 0 0 20px !important;

		}
	}

	// Lock / Hide
	.lock-template();
	.hide-template();

	tr.hide {
		display: none;
	}

	&.mode-show-hidden tr.hide {
		display: table-row;
	}
}

// Donation
#screen-options-wrap #sujin-donation {
	position: absolute;
	right:0;
	top:0;
}
*/
